{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>smartdevs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-submenu.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.css" type="text/css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css" type="text/css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons/style.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/slick.css' %}">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'css/skins/midnight-blue.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis%7CMontserrat:200,300,400,500,600,700,800,900%7CNunito+Sans:200,300,400,600,700,800,900">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script  src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script  src="js/html5shiv.min.js"></script>
    <script  src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="page_loader"></div>

<!-- Main header start -->
{% include 'includes/header.html' %}
<!-- Main header end -->

<!-- Sub banner start -->
{% include 'includes/banner.html' %}
<!-- Sub banner end -->

<!-- job listing section start -->
{% block content %}
{% endblock %}
<!-- job listing section end -->

<!-- Footer start -->
{% include 'includes/footer.html' %}
<!-- Footer end -->


<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script  src="{% static 'js/bootstrap-submenu.js' %}"></script>
<script  src="{% static 'js/rangeslider.js' %}"></script>
<script  src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
<script  src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script  src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script  src="{% static 'js/jquery.scrollUp.js' %}"></script>
<script  src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script  src="{% static 'js/leaflet.js' %}"></script>
<script  src="{% static 'js/leaflet-providers.js' %}"></script>
<script  src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script  src="{% static 'js/moment.min.js' %}"></script>
<script  src="{% static 'js/daterangepicker.min.js' %}"></script>
<script  src="{% static 'js/dropzone.js' %}"></script>
<script  src="{% static 'js/slick.min.js' %}"></script>
<script  src="{% static 'js/jquery.filterizr.js' %}"></script>
<script  src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script  src="{% static 'js/jquery.countdown.js' %}"></script>
<script  src="{% static 'js/maps.js' %}"></script>
<script  src="{% static 'js/app.js' %}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script  src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- Custom javascript -->
<script  src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>