{% extends 'admin/layout.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% block content %}
<div class="submit-address dashboard-list">
        <h4>Areas</h4>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for area in areas %}
                      <tr>
                        <th scope="row">{{area['id']}}</th>
                        <td>{{area['descripcion']}}</td>
                        <td>
                          <a href="/admin/area/{{area['id']}}" class="btn btn-primary">Editar</a>
                          <a href="/admin/area/{{area['id']}}/eliminar" class="btn btn-danger">Eliminar</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{render_form(form)}}
          </div>
        </div>
</div>
{% endblock %}