{% load static %}
<!--footer-->
    <div class="container-fluid blog-sb-widgets page-styling site-footer">
        <div class="row">
            <div class="col-sm-12 col-md-4 widget align-center-tablet f-logo-wrap">
                <a href="index.html" class="f-logo">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
                <p>Proyecto Ecommerce con Django</p>
                <button class="btn callback">Contacto</button>
            </div>
        </div>
    </div>