{% extends 'layout.html' %}
{% block content %} 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                <div class="card-body">
                    <form method="POST" novalidate>
                        {{form.hidden_tag()}}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    {{form.firstname(class_="form-control")}}
                                    <label for="inputLastName">{{form.firstname.label}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.lastname(class_="form-control")}}
                                    <label for="inputLastName">{{form.lastname.label}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            {{form.email(class_="form-control")}}
                            <label for="inputEmail">{{form.email.label}}</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    {{form.password(class_="form-control")}}
                                    <label for="inputPassword">{{form.password.label}}</label>
                                </div>
                            </div>
    
                        </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="login.html">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}