    /*
    Flaticon icon font: Flaticon
    Creation date: 27/01/2019 20:29
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-money:before { content: "\f100"; }
.flaticon-mortarboard:before { content: "\f101"; }
.flaticon-shout:before { content: "\f102"; }
.flaticon-radar:before { content: "\f103"; }
.flaticon-sale:before { content: "\f104"; }
.flaticon-pencil:before { content: "\f105"; }
.flaticon-doctor:before { content: "\f106"; }
.flaticon-truck:before { content: "\f107"; }
.flaticon-work:before { content: "\f108"; }
.flaticon-factory:before { content: "\f109"; }
.flaticon-document:before { content: "\f10a"; }
.flaticon-user:before { content: "\f10b"; }
.flaticon-male:before { content: "\f10c"; }
.flaticon-comment:before { content: "\f10d"; }
.flaticon-heart:before { content: "\f10e"; }
.flaticon-apple:before { content: "\f10f"; }
.flaticon-robot:before { content: "\f110"; }
.flaticon-logout:before { content: "\f111"; }
.flaticon-plus:before { content: "\f112"; }
.flaticon-pin:before { content: "\f113"; }
.flaticon-time:before { content: "\f114"; }
.flaticon-safe:before { content: "\f115"; }
.flaticon-tick:before { content: "\f116"; }
.flaticon-woman:before { content: "\f117"; }
.flaticon-honor:before { content: "\f118"; }
.flaticon-notepad:before { content: "\f119"; }
.flaticon-view:before { content: "\f11a"; }
.flaticon-user-1:before { content: "\f11b"; }
.flaticon-x:before { content: "\f11c"; }
.flaticon-request:before { content: "\f11d"; }
.flaticon-dashboard:before { content: "\f11e"; }
.flaticon-lock:before { content: "\f11f"; }
.flaticon-job:before { content: "\f120"; }
.flaticon-portfolio:before { content: "\f121"; }
.flaticon-buy:before { content: "\f122"; }
.flaticon-alert:before { content: "\f123"; }
.flaticon-search:before { content: "\f124"; }
.flaticon-mail:before { content: "\f125"; }
.flaticon-phone:before { content: "\f126"; }
.flaticon-internet:before { content: "\f127"; }
    
    $font-Flaticon-money: "\f100";
    $font-Flaticon-mortarboard: "\f101";
    $font-Flaticon-shout: "\f102";
    $font-Flaticon-radar: "\f103";
    $font-Flaticon-sale: "\f104";
    $font-Flaticon-pencil: "\f105";
    $font-Flaticon-doctor: "\f106";
    $font-Flaticon-truck: "\f107";
    $font-Flaticon-work: "\f108";
    $font-Flaticon-factory: "\f109";
    $font-Flaticon-document: "\f10a";
    $font-Flaticon-user: "\f10b";
    $font-Flaticon-male: "\f10c";
    $font-Flaticon-comment: "\f10d";
    $font-Flaticon-heart: "\f10e";
    $font-Flaticon-apple: "\f10f";
    $font-Flaticon-robot: "\f110";
    $font-Flaticon-logout: "\f111";
    $font-Flaticon-plus: "\f112";
    $font-Flaticon-pin: "\f113";
    $font-Flaticon-time: "\f114";
    $font-Flaticon-safe: "\f115";
    $font-Flaticon-tick: "\f116";
    $font-Flaticon-woman: "\f117";
    $font-Flaticon-honor: "\f118";
    $font-Flaticon-notepad: "\f119";
    $font-Flaticon-view: "\f11a";
    $font-Flaticon-user-1: "\f11b";
    $font-Flaticon-x: "\f11c";
    $font-Flaticon-request: "\f11d";
    $font-Flaticon-dashboard: "\f11e";
    $font-Flaticon-lock: "\f11f";
    $font-Flaticon-job: "\f120";
    $font-Flaticon-portfolio: "\f121";
    $font-Flaticon-buy: "\f122";
    $font-Flaticon-alert: "\f123";
    $font-Flaticon-search: "\f124";
    $font-Flaticon-mail: "\f125";
    $font-Flaticon-phone: "\f126";
    $font-Flaticon-internet: "\f127";